services:
  backend:
    build: ./backend
    ports:
      - "5001:5000"
    environment:
      - DOCKER_ENV=true  # This tells the app it's running in Docker
    env_file:
      - ./backend/.env
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
